<ul class="core">
	{% for item in core	%}
		<li>
			<a href="{{ path(item['route']) }}" title="{{ item['title'] }}"><i class="{{ item['icon'] }}"></i></a>
			{% if item.children is not empty %}
				<ul>
					{% for child in item.children %}
						<li><a href="{{ path(child['route']) }}"><i class="{{ child['icon'] }}"></i> {{ child['title'] }}</a></li>
					{% endfor %}
				</ul>
			{% endif %}
		</li>
	{% endfor %}
	{# <li><a href="/admin/pages" title="Pages"><i class="fa fa-file-text-o"></i></a></li>
	<li><a href="/admin/media" title="Media"><i class="fa fa-film"></i></a></li>
	<li><a href="/admin/social/instagram" title="Social"><i class="fa fa-share-alt"></i></a></li> #}
</ul>
<ul class="bespoke">
	<li><a href="/admin/products" title="Products"><i class="fa fa-shopping-cart"></i></a></li>
	<li><a href="/admin/editors-picks/add" title="Editors Pick"><i class="fa fa-star"></i></a></li>
	<li><a href="/admin/street-chic" title="Street Chic"><i class="fa fa-camera-retro"></i></a></li>
	<li><a href="/admin/threadandmirror/social" title="Social Feeds"><i class="fa fa-rss"></i></a></li>
</ul>
<ul class="config">
	{# <li><a href="/admin/appearance" title="Appearance"><i class="fa fa-picture-o"></i></a></li> #}
	<li><a href="/admin/users" title="Users"><i class="fa fa-group"></i></a></li>
	<li><a href="/admin/settings" title="Settings"><i class="fa fa-cogs"></i></a></li>
	<li><a href="/admin/developer" title="Developer Tools"><i class="fa fa-code"></i></a></li>
</ul>
	
<div class="account">
	<p>Welcome, {{ app.user.fullname }}</p>	
</div><!--account-->