<ul class="core">
    {% for item in core %}
        <li>
            <a href="{{ path(item['route']) }}" title="{{ item['title'] }}"><i class="{{ item['icon'] }}"></i></a>
            {% if item.children is not empty %}
                <ul>
                    {% for child in item.children %}
                        <li><a href="{{ path(child['route']) }}"><i
                                        class="{{ child['icon'] }}"></i> {{ child['title'] }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
</ul>
<ul class="bespoke">
    <li><a href="{{ path('thread_blog_admin_index') }}" title="Magazine"><i class="fa fa-edit"></i></a></li>
    <li><a href="{{ path('thread_instainspo_admin_index') }}" title="Insta Inspo"><i class="fa fa-instagram"></i></a>
    </li>
</ul>
<ul class="config">
    {% for item in config %}
        <li>
            <a href="{{ path(item['route']) }}" title="{{ item['title'] }}"><i class="{{ item['icon'] }}"></i></a>
            {% if item.children is not empty %}
                <ul>
                    {% for child in item.children %}
                        <li>
                            <a href="{{ path(child['route']) }}">
                                <i class="{{ child['icon'] }}"></i> {{ child['title'] }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
</ul>

<div class="account">
    <p>Welcome, {{ app.user.fullname }}</p>
</div>